/*
 Set style that is general to the entire page
 */
body{
  background:#000;
  text-align:center;
  font-weight:bold;
  font-family: 'Exo', sans-serif;
  color:#fff;
}

/*
 Modify bootstrap navbar to display it as fixed positioned with zero border and margin;
 */
.navbar{
  position:fixed;
  width:100%;
  margin-bottom:0px;
  border-radius:0px;
  border:0px;
}

/*
 Modify bootstrap navbar-brand with specific color and font
 */
.navbar-brand{
  color:#000 !important;
  font-weight:bold;
}

/*
 Reusable background classes
 */

.tiger-background{
  background:url('assets/images/Winter-Tiger-Wild-Cat-Images.jpg') no-repeat center fixed;
  background-size:cover;
}

.space-background{
  background:url('assets/images/sky-space-dark-galaxy.jpg') no-repeat center fixed;
  background-size:cover;
}

.nature-background{
  background:url('assets/images/agriculture-13730152618Ej.jpg') no-repeat center fixed;
  background-size:cover;
  background-position:right bottom;
}

.purple-background{
  background:#563D86;
}

.fb-background{
  background:#3A5795;
}

.white-background{
  background:#FFF;
}

.black-background{
  background:#FFF;
}

.gold-background{
  background:#D7902B;
}

.dark-purple-background{
  background:#0F2D38;
}

.transparent-background{
  opacity:0;
}

/*
 Reusable Padding classes
 */
.padding-20-top{
  padding-top:20px;
}

.padding-40-top{
  padding-top:40px;
}

.padding-120-top{
  padding-top:120px;
}

/*
 Helper class to display a divider between div's
 */
.white-border-right{
  border-right:1px solid #FFF;
}

/*
 A div with fixed height
 */
.fixed-size-div{
  height:400px;
}

/*
 A footer with fixed height
 */
.footer{
  height:150px;
}
