/*
 Set style that is general to the entire page
 */
body{
  background:#000;
  text-align:center;
  font-weight:bold;
  font-family: 'Exo', sans-serif;
  color:#fff;
}

/*
 Modify bootstrap navbar to display it as fixed positioned with zero border and margin;
 */
.navbar{
  width:100%;
  margin-bottom:0px;
  border-radius:0px;
  border:0px;
  transition:box-shadow 0.2s 0.2s ease-in-out,
    background 0.2s 0.2s ease-in-out;
}

/*
 Dynamically make a navbar fixed
*/
.fixed-nav{
  position:fixed;
  z-index:9999;
  background:#EA4335;
}

/*
 Add box shadow effect
*/
.box-shadow{
  box-shadow:0px 0px 15px #000;
}

/*
 Modify bootstrap navbar-brand with specific color and font
 */
.navbar-brand{
  color:#000 !important;
  font-weight:bold;
  line-height:30px;
}

/*
 Display image in a circular thumbnail
*/
.navbar-brand img{
  float:left;
  margin-right:10px;
  width:32px;
  height:32px;
  border-radius:16px;
  vertical-align:middle;
}

/*
 Vertical align span in the middle
*/
.navbar-brand span{
  vertical-align:middle;
}

/*
 Reusable background classes
 */

.tiger-background{
  background:url('../images/Winter-Tiger-Wild-Cat-Images.jpg') no-repeat center fixed;
  background-size:cover;
}

.space-background{
  background:url('../images/sky-space-dark-galaxy.jpg') no-repeat center fixed;
  background-size:cover;
}

.nature-background{
  background:url('../images/agriculture-13730152618Ej.jpg') no-repeat center fixed;
  background-size:cover;
  background-position:right bottom;
}

.purple-background{
  background:#563D86;
}

.fb-background{
  background:#3A5795;
}

.white-background{
  background:#FFF;
}

.black-background{
  background:#FFF;
}

.gold-background{
  background:#D7902B;
}

.dark-purple-background{
  background:#0F2D38;
}

.transparent-background{
  opacity:0;
}

/*
 Reusable Padding classes
 */
.padding-20-top{
  padding-top:20px;
}

.padding-40-top{
  padding-top:40px;
}

.padding-120-top{
  padding-top:120px;
}

/*
 Helper class to display a divider between div's
 */
.white-border-right{
  border-right:1px solid #FFF;
}

/*
 A div with fixed height
 */
.fixed-size-div{
  height:400px;
}

/*
 A footer with fixed height
 */
.footer{
  max-height:200px;
  padding-bottom:20px;
}

/*
 Back to top icon styles
*/
.back-to-top{
  position:fixed;
  display:none;
  width:40px;
  height:40px;
  bottom:10px;
  right:10px;
  background:#404245;
  color:#FFF;
  cursor:pointer;
  z-index:9999;
  opacity:0.85;
}
